{{define "content"}}
<div>
    <p>Verander de Prijs en het aantal om een bij de confirm pagina andere Vouchers te krijgen.</p>
    
    <p>Je krijgt een voucher in de volgende gevallen:</p>
    <ul>
        <li>Tussen € 10 en € 30 spenderen geeft een Vouchers voor free shipping</li>
        <li>Tusen € 30 en € 100 spenderen geeft een Voucher voor 10% korting</li>
        <li>Tussen € 100 en € 200 spenderen  geeft een Voucher van € 10,-</li>
    </ul>
    <p>Je kan een Voucher gebruiken in deze gevallen:</p>
    <ul>
        <li>Gebruik je code: XSC01 dan is vezenden gratis*</li>
        <li>Gebruik je code: XSC02 dan krijg je 10% korting*</li>
        <li>Gebruik je code: XSC03 dan krijg je €5,- korting*</li>
        <li>Gebruik je code: XSC04 dan krijg je een error</li>
    </ul>
    <small>* Deze  codes zijn meerdere keren geldig</small>
</div>
<form action="/payment" method="post" id="cartForm" >
    <img src="static/img/IHeartMyBike-B.jpg" class="flex-lft" width="100px" height="100px" alt="IHeartMyBike sock">
    <table aria-label="cart element">
        <tr>
            <th id="email">Email:</th>
            <td><input type="email" name="email" placeholder="email" value="{{.email}}"></td>
        </tr>
        <tr>
            <th id="price">Prijs:</th>
            <td>€<input type="string" id="priceInput" name="price" placeholder="Prijs" value="{{.price}}" onchange="calculateTotal(document.getElementById('cartForm').elements)"></td>
        </tr>
        <tr>
            <th id="amount">Aantal:</th>
            <td> <input type="number" name="amount" placeholder="Aantal" value="{{.amount}}" onchange="calculateTotal(document.getElementById('cartForm').elements)"></td>
        </tr>
        <tr>
            <th id="vouchercode">Kortings code:</th>
            <td> <input type="string" name="vouchercode" placeholder="code" value="{{.vouchercode}}" onchange="calculateTotal(document.getElementById('cartForm').elements)"></td>
        </tr>
        <tr>
            <th>Code applied</th>
            <td id="appliedTd"></td>
        </tr>
        <tr>
            <th id="shipping">Verzenden:</th>
            <td>€<input type="number" id="shippingInput" name="shipping" placeholder="Verzending" value="{{.shipping}}"></td>
        </tr>
        <tr>
            <th id="total">Totaal:</th>
            <td>€ <span id="totalSpan">0</span><input id="totalInput" type="hidden" name="total" placeholder="Totaal" value="{{.total}}"></td>
        </tr>
        <tr>
            <th id="nbs">&nbsp;</th>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
{{end}}