{{define "content"}}
{{if .Errfound}}
<div style="background-color: blanchedalmond;">
    <ul>
        {{range $val := .Errors}}
        <li>{{$val}}</li>
    {{end}}
    </ul>
</div>
{{end}}

<div>
    Dank je voor het winkelen bij X-Socks & Co
</div>
{{if .Voucher}}
<div>
    <p>Om dat u een gewaardeerde klant bent belonen wij u met een voucher voor u volgende aankoop:</p>
    <p>Uw Voucher code is: <strong>{{.Voucher.Code}}</strong></p>
    <p>Deze voucher geeft u recht op: {{.Voucher.Description}}</p>
</div>
{{end}}
<div>
    <p>Wij wensen u veel plezier met uw aankoop.</p>
    <p></p>
</div>
{{end}}