{{define "content"}}
<p><a href="/cart">Naar de Winkel wagen.</a></p>
<p><a href="vouchers">Naar het Vouchers verzicht.</a></p>
<p><a href="redemptions">Naar het Redemptions overzicht.</a></p>
{{end}}