<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>A Basic HTML5 Template</title>
  <meta name="description" content="POC X-SOCKS Vouchers">
  <meta name="author" content="Thomas de Groot">

  <meta property="og:title" content="POC X-SOCKS Vouchers">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://assessment.dev/poc-x-socks-voucher/">
  <meta property="og:description" content="POC X-SOCKS Vouchers">

  <link rel="stylesheet" href="static/css/styles.css?v=1.0">

</head>

<body>
  <img src="static/img/logo.png" class="flexing" width="200" height="200" alt="xsocks logo">
  {{block "content" .}}
  <!-- Fallback, if "content" is not defined elsewhere -->
  <strong style="color: rgb(206, 33, 67);">Error:</strong> Er lijkt geen definitie te zijn gegeven voor content.
  {{end}}
  </div>
  <script src="static/js/scripts.js"></script>
</body>
</html>
