{{define "content"}}

{{if .Errors}}
<h2>Wat jammer er zijn errors:</h2>
<ol>
    {{range .Errors}}
    <li>{{.}}</li>
    {{end}}
</ol>
{{end}}

{{if .Redemptions}}
<h1>Overzicht van gebruikte Vouchers</h1>
<table>
<tr>
    <th>Code</th>
    <th>Email</th>
    <th>Uitgegeven</th>
    <th>Verzenden</th>
    <th>Event</th>
</tr>
{{ range .Redemptions}}
<tr>
    <td>{{.Voucher.Code}}</td>
    <td>{{.Email}}</td>
    <td>{{.AmountSpend}}</td>
    <td>{{.AmountShipping}}</td>
    <td>{{.Event}}</td>
</tr>
{{end}}
</table>
{{ else}}
<h1>Geen gebruikte vouchers gevonden</h1>
{{end}}


{{end}}