{{define "content"}}

{{if .Errors}}
<h2>Wat jammer er zijn errors:</h2>
<ol>
    {{range .Errors}}
    <li>{{.}}</li>
    {{end}}
</ol>
{{end}}

<h1>Overzicht van uitgegeven Vouchers</h1>
<table>
    <tr><th>Code</th><th>Description</th><th>From</th><th>Till</th><th>Redemabel</th><th>Redeemed</th><th>Value</th><th>Type</th></tr>
{{ range .Vouchers}}
<tr>
    <td>{{.Code}}</td>
    <td>{{.Description}}</td>
    <td>{{.ValidityStart}}</td>
    <td>{{.ValidityEnd}}</td>
    <td>{{.Redeemable}}</td>
    <td>{{.Redeemd}}</td>
    <td>{{.Value}}</td>
    <td>{{.Type}}</td>
</tr>
{{end}}
</table>
{{end}}