body {
  font-family: sans-serif;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .buttonGreen1 {background-color: #4CAF50;} /* Green */
  .buttonBlue {background-color: #008CBA;} /* Blue */

  .flexing {
    display: flex;
  }